<%- include ('../partials/header'); -%>
<% if(seller){ %>
<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/item/<%=seller._id%>/new">Add Item</a>

<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/seller/<%=seller._id%>/payment">payment details</a>

<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/seller/<%=seller._id%>/settings">Settings</a>

<a style="background-color: black;
  color: white;
  padding: 4px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
  border-radius: 5%;
  font-family: 'Manrope', sans-serif;" href="/seller/<%=seller._id%>/items">See your items</a>
<% } %>

<%- include ('../partials/footer'); -%>
