<%- include ('../partials/header'); -%>

<div class="" style="padding: 0 5% 0 5%;">

<% item.items.forEach(function(ite){ %>
  <p style="font-family: 'Manrope', sans-serif; background-color:#F1F1F1; font-weight:bold;"> <%=ite.name%></p>
  <img style="height:300px; box-shadow: 0 0 3px #1F51FF, 0 0 4px #1F51FF;" src="/image/<%=ite.image%>" alt="ok" >
  <a style="background-color: black;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
    border-radius: 5%;
    font-family: 'Manrope', sans-serif;" href="/seller/<%= item._id %>/items/<%= ite.id %>/edit">Edit</a>
  <form action="/seller/<%= item._id %>/items/<%= ite.id %>?_method=DELETE" method="POST">
    <input style="background-color: black;
      color: white;
      padding: 4px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      text-decoration: none;
      text-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
      box-shadow: 0 0 2px #1F51FF, 0 0 3px #1F51FF;
      border-radius: 5%;
      font-family: 'Manrope', sans-serif;" type="submit" name="" value="Delete">
  </form>
<%})%>


</div>
<%- include ('../partials/footer'); -%>
